@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*general*/

*::before, ::after {
  box-sizing: border-box;
}
h2{
  color: rgb(24, 24, 39);
  font-size: 30px;
  font-weight: bold;
}

/*html{
	font: normal 16px sans-serif;
	color: #555;
}*/
.logo{
 color: #fff;
 flex: 1;
 font-size: 60px;
 padding: 15px;
 text-transform: uppercase;
}
/*home*/
.lavender {
   background: url('image/lavender.jfif'); 
   width: 100%;
   background-size: cover;
}
/*navigation*/
nav
{
    -webkit-box-flex: 3;
    -webkit-flex:3;
    -ms-flex: 3;
    flex: 3;
}
ul, nav{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    color: whitesmoke;
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: rebeccapurple;

}
 ul.nav-list{ 
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

a{  
  font-size: 20px;
  position: relative;
	text-decoration: none;
	color: inherit;
  cursor: pointer;
	opacity: 0.7;
}
a:hover{
	opacity: 1;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

/*@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}
/
@media (max-width: 600px){

	section{
		padding: 80px 30px;
    }
*/

/*.bd-grid{
        width:100%;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 2rem;
        width: calc(100% - 2rem);
        margin-left: var(--mb-2);
        margin-right: var(--mb-2);
      }

/*Header section*/
.top-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);

  }
*/
.nav__toggle{
    color: var(--second-color);
    font-size: 2.5rem;
    cursor: pointer;
  }
 .bx{  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  font-family: boxicons !important;
 }
header h2{
	font-family: 'Quicksand', sans-serif;
}
/*media queries for mobile*/
@media all and (max-width:500px){
 .top-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .logo{
    padding:18px 0 0;
  }
  ul{
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
  }
  ul li{
    padding: 5px;
  }

  .row{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

  }
  .home{
    font-size: 40px;
  }
  .home__data{
    align-self: flex-end;
  }
}
/* media queries for tablet*/
@media all and (max-width:800px){
  .top-header {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     text-align: center;
   }
   .logo{
     padding:18px 0 0;
   }
   ul{
     -webkit-box-orient: horizontal;
     -webkit-flex-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     margin-top: 0;
   }
   ul li{
     padding: 5px;
   }
   .home{
    height: 100vh;
    font-size: 1.5em;;
  }
  .home__data{
    align-self: flex-end;
  }
   .row{
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
 
   }
 }

/*Home section
*/
.home{
  font: bold 60px 'Open Sans', sans-serif;

  align-self: center;
  margin-bottom: 20px;
  color:whitesmoke;
}

.home__data{
  align-self: center;
}


/*about */
h3.title{
    font-size: 40px;
    margin-bottom: var(--mb-5);
  }
.about{
    row-gap: 2rem;
    text-align: center;
    background-color: lavender;
  }
 

/*Project section 
*/
.project{
    background-color: plum;
}
.projects{
    color: grey;
    font-size: 40px;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}
.row{ 
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 5% 0;

}
.column{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1; 
    border: 2px solid lavender;
}
.content{
    margin-top: 20px;
}

  /*contact me*/
.type{
    width: 75%;
    align-items: center;
    font-size: inherit;
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--second-color);
    outline: none;
    margin-bottom: 20px;
    background-color: lavender;
  }
.contact {
 background: url('image/flower5.jfif'); 
 width: 100%;
 background-size: cover;;
 position: relative;
 padding: 80px 0;
 z-index: 1;

} 
.button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
  border-radius: .5rem;
  background-color: lavender;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
input [value]{
color: purple;
}



/*  footer*/
.footer_contact{font-size: 2rem;
    margin-bottom: var(--mb-4);
    color: lavender;
    font-family: sans-serif;
    padding: 8px 15px;
    font-weight: bolder;
}

footer{
    background-color: rebeccapurple;
	font-size: 14px;
	color: grey;
    margin-bottom: 10px;
    display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 60px 0;
}

/*footer p a{
	color: #fff;
}*/
.icon {
    color: grey;
    padding: 15px;
    border-radius: 50%;
    
  }
  
  .icon:hover {
    cursor: pointer;
    background-color:lavender;
  }
  /*@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}